/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2025, 10:39:52 AM
    Author     : datdat
*/


.home-section {
    position: relative;
    background: #e4e9f7;
    min-height: 100vh;
    top: 0;
    padding-left: 78px;
    width: calc(100% -78px);
    transition: all 0.5s ease;
    box-sizing: content-box;
}

.sidebar.open~.home-section {
    padding-left: 250px;
    width: calc(100%-250px);
}

.home-section .text {
    display: inline-block;
    color: #11101D;
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}
